.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /*height: 100vh; */
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background:  #36A1D4;
}

.header_info{
  height: 100px;
  background: #36A1D4;
}

.headerText {
  margin-top: 50px;
  text-align: center;
  font-size : 150%;
  color: white;
  text-shadow: #292929 3px 3px 5px;
}

.desc_text{
  float: right;
  padding: 50px;
  text-align: left;
  color: white;
  text-shadow: #292929 1px 1px 5px;
}

.gambar {
  border-radius: 50%;
  margin-top: 25px;
  float: left;
  width: 400px;
  height: auto;
  box-shadow: #292929 3px 3px 10px;
}
