{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<meta http-equiv="pragma" content="no-cache" />
<title>Brian | Profile </title>
<!-- Start of page content -->

<header>
    <header class="header_info">
        <div class="headertext">
            <h1>Hello! I'm Brian</h1>
        </div>
</header>

<!-- Text landing -->
<div class = "container">
    <img src="{% static 'assets/IMG_9625.jpg' %}" class="gambar" alt="Photo Profile">
    <div class="desc_text">
        <h2>Brian Athallah Yudiva</h2>
        <h2>1806205804</h2>
        <h2>Jakarta, 14 October 2000</h2>
        <h2>FASILKOM UI</h2>
        <h2>QUANTA 2018</h2>
        <h2>Love photography and cooking, of course games also</h2>
        <h2>Desc : My parents are FASILKOM lecturers</h2>
    </div>
    <div>
        
    </div>
</div>